@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body{
    padding: 0;
    margin: 0;
    max-width: 1600px;
    font-family: 'Roboto';
    background-color: #011121;
}

.container-fluid{
    margin: 0;
    padding: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}


.common-btn{
    border-radius: 30px;
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    transition: all .4s ease;
}

.common-btn:hover{
    background-color: #3d64d8;
    color: #fff;
    cursor: pointer;
    border: 2px solid #3d64d8;
}

.logo-bg{
  background-image: url('images/logo-bg.png');
  background-position: center;
  background-size: cover;
  height: 5%;
  top: 17%;
  left: 0%;
    width: 9%;
  background-repeat: no-repeat;
  position: absolute;
}

.about-header, .services-header, .contact-header{
    background-color: #042355;
    height: 400px;
    padding: 30px 0px;
    position: relative;
}

.about-img, .service-img, .contact-img{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  width: 20%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .5s ease-in;
    color: #fff;
    background-color: #042355;
}

.borderClass{
    border-bottom: 1px solid #e0e0e0;
    background-color: #011121;
    /* color: #395daf; */
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu a{
    padding: 30px 20px;
}

.nav-menu a:hover {
    color: #3d64d8;
}

.nav-menu a.active{
    color: #395daf;
}

.mobile-menu{
    display: none;
}
/* mobile-menu */


#menu{
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 10;
  }
  
  .menu-line1{
    width: 100%;
    height: 2px;
    background: #3d64d8;
    transition: .6s;
  }
  
  .menu-line2{
    width: 80%;
    height: 2px;
    margin-top: .7rem;
    background: #3d64d8;
    transition: .6s;
  }
  
  .rotate{
    transform: rotateZ(180deg)
  }
  .rotate1{
    background: #212121;
    transform: rotateZ(45deg);
  }
  .rotate2{
    background: #212121;
    width: 100%;
    transform:  translate(0,-0.8rem) rotateZ(-45deg);
  }
  .nav-page1{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: #3d64d8;
    transform: translate(0,-100%);
    transition: .5s;
  }

  .nav-page1 a.active{
    color: #011121;
    font-weight: 500;
  }

  .mobile-common-btn{
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid #3d64d8;
    color: #3d64d8;
    transition: all .4s ease;
}
  
  .transform{
    transform: translate(0,0);
  }


/* about */

.about-us-section h1, .why-choose-section h1, .contact-us h1{
  color: #fff;
  font-size: 52px;
  position: relative;
  text-align: center;
}

.headings{
  position: relative;
  padding: 0px 15px;
  background: #011121;
}

.horizontal-line{
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #3d64d8;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-60%);
}

.about-us-section p{
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

.vision-mission-section h1{
  font-size: 28px;
  color: #3d64d8;
  margin: 0;
  text-align: center;
}

.vision-mission-section p{
  color: #fff;
  line-height: 1.5;
  margin: 0;
  text-align: justify;
}

.vision-mission-section .icon img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.vision-mission-section .icon{
  width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
    display: flex;
    position: relative;
    background: #f5f7fd;
}

.border-vision-mission{
  border: 1px solid #3d64d8;
  border-radius: 30px;
  padding: 50px 0px;
}

.arrow-bg{
  background-image: url('images/arrows.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
}

.why-choose-content{
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
}

.why-choose-content:hover{
  background-color: #011121;
  border: 1px solid #3d64d8;
  transition: all .3s ease-in;
}

.why-choose-content:hover p{
  color: #fff;
}

.why-choose-content:hover .icon{
  background-color: #f5f7fd;
}

.content h1{
  font-size: 20px;
  color: #3d64d8;
}

.content p{
  line-height: 1.3;
  font-size: 14px;
}

.why-choose-content .icon, .service-page-section  .icon{
  width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
    display: flex;
    position: relative;
    background: #3d64d8;
}

.service-page-section  .icon{
  width: 120px;
    height: 120px;
}

.why-choose-content .icon img, .service-page-section .icon img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}


.service-page-content h1{
  font-size: 24px;
  color: #3d64d8;
  text-align: start;
}

.service-page-content p{
  color: #fff;
  line-height: 1.3;
  font-weight: 100;
  text-align: justify;
}



#more1 , #more2, #more3, #more4, #more5, #more6 {
  display: none;
}

.service-content{
  padding: 20px 0px;
  margin: 20px 10px;
  border: 1px solid #3d64d8;
  border-radius: 30px;
  min-height: 250px;
}


.contact-us p{
  color: #fff;
  margin: 0;
  text-align: center;
}

.contact-icon-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-icon-inner i{
  background-color: #fff;
  color: #3d64d8;
  font-size: 20px;
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
}

.contact-page-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}













































/* footer */

.footer{
    background-color: #042355;
    color: #fff;
    position: relative;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-logo{
    width: 20%;
    position: absolute;
    top: -10%;
    left: 5%;
}

.footer-content, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content img{
    width: 50%;
    display: flex;
    margin: 0px auto;
}

.footer-content p, .footer-content h6{
    margin: 0;
}

.social{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social i{
    font-size: 24px;
    color: #3d64d8;
}

.social a{
    background-color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.address{
    text-align: center;
}

.address p{
    margin: 0;
}

.contact-footer{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    font-size: 14px;
}

.contact-footer i{
    margin-right: 10px;
}


/* modal */


.modal-div {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #011121;
    padding: 1rem 1.5rem;
    width: 500px;
    border-radius: 0.5rem;
  }
  .close-button {
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    position: absolute;
    right: 5%;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  
  form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
    }
  
    .form-group{
      position: relative;
      display: flex;
    }
    
      .form-control {
        background-color: #f2f6f8;
        border-radius: 15px;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
      }
        
      .form-control:focus {
        background-color: #f2f6f8;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
      }
        
      .form-control.thick , .message .form-control{
            padding: 15px 50px;
      }
  
      textarea{
          height: 150px;
      }
  
      input::placeholder,textarea::placeholder {
        font-size: 14px;
        color: #606162;
        position: absolute;
        left: 5%;
      }
    
    .submit-btn.btn-form {
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 3rem;
      border: 0;
      border-radius: 3rem;
      color: #f2f2f2;
      background-color: #3d64d8;
      background-size: 300% 100%;
      transition: all 0.3s ease-in-out;
    }
    
    .submit-btn.btn-form:hover:enabled {
      box-shadow: 0 0.5em 0.5em -0.4em #395daf;
      background-size: 100% 100%;
      transform: translateY(-0.15em);
      cursor: pointer;
    }
    





/* fade effects */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

  .active.fadeInUp {
    animation: fadeInUp 1s ease-in;
    animation-iteration-count: 1;
  }

  .active.fadeInAnimation{
    animation: fadeInAnimation 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


@media screen and (max-width:450px) {

    .nav-menu, .get-in-touch, .logo-bg{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .about-img, .service-img, .contact-img {
      top: 60%;
      left: 50%;
      transform: translate(-50%,-60%);
      width: 70%;
  } 

  .headings {
    font-size: 24px;
  }

  .about-us-section p, .vision-mission-section p{
    font-size: 12px;
    padding-top: 0px !important;
  }

  .vision-mission-section .row{
    justify-content: center;
    padding: 0px 30px;
  }

  .border-vision-mission{
    padding: 10px 20px !important;
    gap: 15px;
  }

  .vision-mission-section .icon, .service-page-section .icon {
    width: 80px;
    height: 80px;
  }

  .vision-mission-section h1 {
    font-size: 24px;
  }

  .why-choose-section .row .col-12:nth-child(3){
    padding: 20px 10px;
  }

  .border-vision-mission:nth-child(odd){
    flex-direction: column-reverse;
  }
  
    #view1, #view2, #view3, #view4, #view5, #view6{
      display: flex;
      width: max-content;
      margin: 0px auto;
    }

  .contact-us p{
    font-size: 12px;
  }

  .contact-us .row{
    gap: 30px;
  }

  .service-content{
    gap: 15px;
  }

  .service-page-content h1{
    text-align: center;
  }

    .footer-inner .row{
        gap: 20px;
    }

    .footer-logo {
        top: -3%;
        left: 2%;
    }
    .footer-content h6 {
        font-size: 14px;
    }

    .footer-content p{
        font-size: 12px;
    }

    .social a {
        padding: 0px;
        width: 25px;
        height: 25px;
    }

    .social i , .address, .contact-footer{
        font-size: 12px;
    }
}